flows.json
[
    {
        "id": "060240745de70bc6",
        "type": "tab",
        "label": "Logging Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb83c536da590f5c",
        "type": "tab",
        "label": "WattNode Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5680ec93718b3f6",
        "type": "tab",
        "label": "Inverter Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1d7e9e0a4578c1f",
        "type": "tab",
        "label": "BMS Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2dc6fe71588e17c7",
        "type": "tab",
        "label": "Historical Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05b90c81d8e90a14",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fde02a3dbacda26",
        "type": "tab",
        "label": "BMS",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ca2cbf00c7f20f50",
        "type": "subflow",
        "name": "Error 404 Response",
        "info": "",
        "category": "network",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "efdcc764c4fbd2a8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c625d94296a71599",
        "type": "subflow",
        "name": "Error 500 Response",
        "info": "",
        "category": "network",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "baa4e621176aae3c"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "errormsg",
                "type": "str",
                "value": "There was an error.",
                "ui": {
                    "icon": "font-awesome/fa-comment-o",
                    "label": {
                        "en-US": "Error Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "logmsg",
                "type": "str",
                "value": "Error with Something:",
                "ui": {
                    "icon": "font-awesome/fa-file-text-o",
                    "label": {
                        "en-US": "Log Header"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2dcb06cda48677d7",
        "type": "subflow",
        "name": "Error 400 Response",
        "info": "",
        "category": "network",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "7fa8d5d3f42a87f8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "errormsg",
                "type": "str",
                "value": "There was an error.",
                "ui": {
                    "icon": "font-awesome/fa-comment-o",
                    "label": {
                        "en-US": "Error Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "826f2798ac97948c",
        "type": "subflow",
        "name": "Parse Sunspec",
        "info": "`msg.buffer` should be set to the modbus read",
        "category": "modbus",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "543c0f2ecc46a615"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2420,
                "y": 60,
                "wires": [
                    {
                        "id": "08f42ce2b8e5ca7a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ssmodel",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-info-circle",
                    "label": {
                        "en-US": "Sunspec Model"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "da1113f849ed321d",
        "type": "subflow",
        "name": "Modbus Command",
        "info": "",
        "category": "modbus",
        "in": [
            {
                "x": 200,
                "y": 100,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 100,
                "wires": []
            }
        ],
        "env": [
            {
                "name": "Device",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Inverter (502)"
                                },
                                "v": "inv502"
                            },
                            {
                                "l": {
                                    "en-US": "Inverter (503)"
                                },
                                "v": "inv503"
                            },
                            {
                                "l": {
                                    "en-US": "WattNode"
                                },
                                "v": "wattnode"
                            },
                            {
                                "l": {
                                    "en-US": "BMS"
                                },
                                "v": "bms"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red-contrib-modbus/modbus-icon.png"
    },
    {
        "id": "60b9353837f41409",
        "type": "subflow",
        "name": "SSE Server",
        "info": "",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "45aaaa4ea40c6d3b"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "event",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-exclamation",
                    "label": {
                        "en-US": "SSE Event"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "data",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-file-text-o",
                    "label": {
                        "en-US": "Event Data"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red/white-globe.svg",
        "status": {
            "x": 260,
            "y": 60,
            "wires": [
                {
                    "id": "7ffcef4a76897296",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "e7875e2de9c03017",
        "type": "group",
        "z": "060240745de70bc6",
        "name": "GET /log/info",
        "style": {
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "7af68148ed617c49",
            "085c4ad6a27bef27",
            "514a5906c8c36ed5",
            "f00f48fb83236220",
            "47d5ec2e29f4a75c",
            "8a64b210bb419880",
            "1467fa61be5516c4",
            "de7e2ba1bf229849",
            "321214cff9ac19e7",
            "e74a7937f9a8b10f",
            "9c0608e9f8a9a204",
            "75b2f8d3b8dafc8f",
            "af2fdf8df365932d"
        ],
        "x": 194,
        "y": 819,
        "w": 1472,
        "h": 210,
        "info": "# GET /log/info\r\nGet a list of logging devices or information\r\nabout a specific device.\r\n\r\n### URL Format\r\nThe request URL must be in the following formats.\r\n- `/log/info`\r\n- `/log/info/[id]` - `[id]` is a registered device id\r\n\r\n### Procedure\r\n1. Recieve request\r\n2. Verify request parameters\r\n3. Check that device exists\r\n4. Retrieve device info\r\n5. Respond with info\r\n\r\n### Responses\r\n- `404` - Unknown device id (if provided)\r\n- `500` - Internal error when reading from SQL database\r\n- `200` - Success  \r\nThe body of the message will contain either a\r\na list of device ids (if no id is given) or\r\nthe device information."
    },
    {
        "id": "9a4c8c642f90b5f9",
        "type": "group",
        "z": "060240745de70bc6",
        "name": "GET /log/status",
        "style": {
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "dcf90db21725757d",
            "6c449fd564a9ecd2",
            "4fd4e576a66823ba",
            "8943f005652f4bb1",
            "653a20d09b8b8699",
            "0c01c1f85f9c26bc",
            "ad0aa214fde7a3a9",
            "ae7baee6b8c03746",
            "a7dcaa9b3e542b70",
            "3a31511fa94e9129",
            "861c36e9da5cc731",
            "986ab8e0bcd62ccf",
            "fafe070557d0a9c8",
            "e438baf5e34ece62"
        ],
        "x": 194,
        "y": 399,
        "w": 2142,
        "h": 150,
        "info": "# GET /log/status\r\nGet the connection status of a device.\r\n\r\n### URL Format\r\nThe request URL must be in the following formats.\r\n- `/log/status/[id]` - `[id]` is a registered device id\r\n\r\n### Procedure\r\n1. Recieve request\r\n2. Verify request parameters\r\n3. Check that device exists\r\n4. Retrieve device status\r\n5. Respond with status\r\n\r\n### Responses\r\n- `404` - Unknown device id\r\n- `500` - Internal error when reading from SQL database\r\n- `500` - Device address unreachable\r\n- `500` - Malformed response from device address\r\n- `200` - Success  \r\nThe body of the message will contain the name\r\nof the device and it's respective status\r\n(`\"connected\"` or `\"fail\"`)."
    },
    {
        "id": "f1ccc8bd2ac54d97",
        "type": "group",
        "z": "060240745de70bc6",
        "name": "POST /log/register",
        "style": {
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "4fdcdd1aaf2cc630",
            "3431e4fa78349449",
            "cebb5660f8fa4666",
            "4ae0d4cced67a221",
            "e937f95755f0aea3",
            "29a8b67e75c87ff3",
            "bc223d5c956d8dac",
            "0b35f57da62bc11b",
            "68bc76ec11fdafee",
            "299b7d608855aa7a",
            "22e4d983d6f09553",
            "25f3a83e48519a95",
            "a24736a631d53c6a",
            "a493908c90418cda",
            "d006e5721410794e",
            "388612334105d9ab",
            "3141cf159d9fe3aa"
        ],
        "x": 194,
        "y": 579,
        "w": 2452,
        "h": 210,
        "info": "# POST /log/register\r\nRegister a new device to log data.\r\n\r\n### Request Body\r\nJSON object containing the following properties.\r\n- `name` - Device name\r\n- `address` - Device status URL\r\n- `powertype` - Either `\"acdc\"`, `\"ac\"`, `\"dc\"`, or `\"none\"`\r\n\r\n### Procedure\r\n1. Recieve request\r\n2. Verify request parameters\r\n3. Check that connection address responds\r\n4. Assign unique device ID\r\n5. Record device\r\n\r\n### Responses\r\n- `400` - There was an issue with the request parameters\r\n- `400` - The connection address responded incorrectly or not at all\r\n- `500` - Internal error when writing to SQL database\r\n- `200` - Success  \r\nThe body of the message will contain the recorded device information and id.\r\n\r\n### Device Status\r\nThe URL for device connection should respond\r\nwith a JSON object containing the following properties.\r\n- `status` - Either `\"connected\"` or `\"fail\"`"
    },
    {
        "id": "9f9ce2cd5a2131c3",
        "type": "group",
        "z": "060240745de70bc6",
        "name": "POST /log/record",
        "style": {
            "label": true,
            "label-position": "sw"
        },
        "nodes": [
            "96f99957b5071c89",
            "36f3b8db5fa30706",
            "18270af3f52bdf02",
            "4bfe5a943caf0bd3",
            "b917ac3be5e883c7",
            "723ef3bd1c68f81a",
            "a9e4fa5dd7c04fbd",
            "8f860c08121896d9",
            "3365ddb2fede8b56",
            "fd9bc06971cb7d34",
            "8190129e7c5f717a",
            "7ff4163166824f35",
            "b5414f660bf6f02c",
            "933f379216a90879",
            "6d1a2f27d0eabb46",
            "d7570cfbdd465a92",
            "91f4422cae6d79f5",
            "89070e322dc5035d",
            "c7c4cbe8daa21e8a",
            "430f966847abe48c",
            "2322c598d49e45cd",
            "392a19925a0c9b2a",
            "34a2aa1c6dc52269",
            "6c49b36440883348"
        ],
        "x": 194,
        "y": 211.5,
        "w": 3592,
        "h": 157.5,
        "info": "# POST /log/record\r\nRecord device data into the log.\r\n\r\n### URL Format\r\nThe request URL must be in the following formats.\r\n- `/log/record/[category]/[id]` - `[category]` is\r\na logging category name and `[id]` is a registered\r\ndevice id\r\n\r\n### Request Body\r\nJSON object containing the values to be stored. See\r\nthe section below about logging categories.\r\n\r\n### Procedure\r\n1. Recieve request\r\n2. Check if category exists and device exists\r\n3. Verify device can record to the category\r\n4. Verify values are valid for the category\r\n5. Record data\r\n\r\n### Responses\r\n- `404` - Unknown category\r\n- `404` - Unknown device id\r\n- `400` - Invalid category for device\r\n- `400` - Invalid values for category\r\n- `500` - Internal error when writing to SQL database\r\n- `200` - Success  \r\nThe body of the message will contain the timestamp of\r\nthe recorded data, the device id and the device name.\r\n\r\n### Logging Categories\r\n\r\n#### AC Power\r\nCategory name: `\"powerac\"`  \r\nValues:\r\n- `timestamp` - Required, ISO string of time\r\nof data retrival\r\n- `volts` - Optional*, voltage in volts\r\n- `amps` - Optional*, amperage in amps\r\n- `watts` - Optional*, wattage in watts\r\n- `watthours` - Optional, watthours in watt-hours  \r\n*At the minimum, either `volts` and `amps`\r\nor `watts` must be provided.\r\n\r\n#### DC Power\r\nCategory name: `\"powerdc\"`  \r\nValues:\r\n- `timestamp` - Required, ISO string of time\r\nof data retrival\r\n- `volts` - Optional*, voltage in volts\r\n- `amps` - Optional*, amperage in amps\r\n- `watts` - Optional*, wattage in watts\r\n- `watthours` - Optional, watthours in watt-hours  \r\n*At the minimum, either `volts` and `amps`\r\nor `watts` must be provided.\r\n\r\n#### Battery Status\r\nCategory name: `\"battery\"`  \r\nValues:\r\n- `timestamp` - Required, ISO string of time\r\nof data retrival\r\n- `voltage` - Required, voltage level of the\r\nbattery in volts\r\n- `soc` - Optional, state of charge of the\r\nbattery in percentage\r\n- `health` - Optional, state of health of the\r\nbattery in percentage\r\n- `state` - Required, operational state of the\r\nbattery, either `\"standby\"`, `\"idle\"`, \r\n`\"charging\"`, or `\"discharging\"`"
    },
    {
        "id": "af38d5b5994866d9",
        "type": "group",
        "z": "e5680ec93718b3f6",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "194adb635f9b1c11",
            "79a457a7c046625e",
            "f1865b16d068e488",
            "efea16944386fe65",
            "862dba68ffcab69a",
            "f1a98c8e98819aad",
            "bd2b19c13d701435",
            "34eb321b97e8d73e",
            "b0229cb481613388",
            "0c344cccf8263101",
            "2d223f6874c2ebd9",
            "9c8f9570df4d8eae",
            "3ef0649182b0b463",
            "2c25dc453d994771",
            "c78d10d9207b6273"
        ],
        "x": 34,
        "y": 239
    },
    {
        "id": "06e9bdefebec18b3",
        "type": "group",
        "z": "e5680ec93718b3f6",
        "name": "",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "0facc22de6274825",
            "3619a5aeca928cd2",
            "ee354f4e98b669a7",
            "fa54962a7e0f8069",
            "ecb8d3cdc562a609",
            "f79824953eef4fc6"
        ],
        "x": 34,
        "y": 59
    },
    {
        "id": "0bf62b5a82a31810",
        "type": "modbus-client",
        "name": "BMS",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/bms",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "20",
        "commandDelay": "1",
        "clientTimeout": "5000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ff919ca25c0fe87f",
        "type": "modbus-client",
        "name": "WattNode",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/wattnode",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "19200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "8",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fb44781298367a59",
        "type": "modbus-client",
        "name": "ConextGateway",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.11.254.251",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 10,
        "commandDelay": 50,
        "clientTimeout": 10000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "7426633e02a085fd",
        "type": "sqlitedb",
        "db": "/data/log.db",
        "mode": "RWC"
    },
    {
        "id": "916070376faeaa7d",
        "type": "modbus-client",
        "name": "ContextGateway503",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.11.254.251",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "10",
        "commandDelay": "50",
        "clientTimeout": "10000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "38ada0c8c540ab8f",
        "type": "http response",
        "z": "ca2cbf00c7f20f50",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "efdcc764c4fbd2a8",
        "type": "template",
        "z": "ca2cbf00c7f20f50",
        "name": "Error 404 HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Error 404 (Not Found)</title>\n    </head>\n    <body>\n        <h1>Error 404 (Not Found)</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "38ada0c8c540ab8f"
            ]
        ]
    },
    {
        "id": "f7519777393391c6",
        "type": "http response",
        "z": "c625d94296a71599",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "355048dc111f8fda",
        "type": "template",
        "z": "c625d94296a71599",
        "name": "Error 500 HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Error 500 (Internal Error)</title>\n    </head>\n    <body>\n        <h1>Error 500 (Internal Error)</h1>\n        <p>Not sure what happened, but it wasn't right.</p>\n        <p>Server message: {{errormsg}}</p>\n    </body>\n</html>",
        "output": "str",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "f7519777393391c6"
            ]
        ]
    },
    {
        "id": "baa4e621176aae3c",
        "type": "function",
        "z": "c625d94296a71599",
        "name": "Can't Template Env Vars",
        "func": "msg.errormsg = env.get('errormsg');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 40,
        "wires": [
            [
                "355048dc111f8fda",
                "12a98fab0b4b168a",
                "c506b4417c3adcd7"
            ]
        ]
    },
    {
        "id": "12a98fab0b4b168a",
        "type": "debug",
        "z": "c625d94296a71599",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "$env(\"logmsg\")",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "c506b4417c3adcd7",
        "type": "debug",
        "z": "c625d94296a71599",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "224408051c1acd08",
        "type": "http response",
        "z": "2dcb06cda48677d7",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "c06559e559e12b19",
        "type": "template",
        "z": "2dcb06cda48677d7",
        "name": "Error 400 HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <title>Error 400 (Invalid Request)</title>\n    </head>\n    <body>\n        <h1>Error 400 (Invalid Request)</h1>\n        <p>Server message: {{errormsg}}</p>\n    </body>\n</html>",
        "output": "str",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "224408051c1acd08"
            ]
        ]
    },
    {
        "id": "7fa8d5d3f42a87f8",
        "type": "function",
        "z": "2dcb06cda48677d7",
        "name": "Can't Template Env Vars",
        "func": "msg.errormsg = env.get('errormsg');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 40,
        "wires": [
            [
                "c06559e559e12b19"
            ]
        ]
    },
    {
        "id": "fa659ccd904d4a48",
        "type": "json",
        "z": "826f2798ac97948c",
        "name": "Parse Model",
        "property": "model",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "857c73a93f042bd5"
            ]
        ]
    },
    {
        "id": "857c73a93f042bd5",
        "type": "change",
        "z": "826f2798ac97948c",
        "name": "Setup Model for Processing",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.model.group.points",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "477ba5ba9b3becaf"
            ]
        ]
    },
    {
        "id": "477ba5ba9b3becaf",
        "type": "function",
        "z": "826f2798ac97948c",
        "name": "Remove Model ID and Length",
        "func": "msg.payload.shift();\nmsg.payload.shift();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 60,
        "wires": [
            [
                "3eb10677c0a29346"
            ]
        ]
    },
    {
        "id": "3eb10677c0a29346",
        "type": "function",
        "z": "826f2798ac97948c",
        "name": "Calculate Offsets",
        "func": "\nlet offset = 0;\nfor (let i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].offset = offset;\n    offset += msg.payload[i].size * 2;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 60,
        "wires": [
            [
                "818f774870e37e5c"
            ]
        ]
    },
    {
        "id": "818f774870e37e5c",
        "type": "split",
        "z": "826f2798ac97948c",
        "name": "Split by Register",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1420,
        "y": 60,
        "wires": [
            [
                "a9b1793dab0d783d"
            ]
        ]
    },
    {
        "id": "a9b1793dab0d783d",
        "type": "function",
        "z": "826f2798ac97948c",
        "name": "Process Parsing Info",
        "func": "\nmsg.payload.type = context.get(\"typeConversion\")[msg.payload.type];\n\nswitch (msg.payload.type) {\n    case \"binary\":\n        msg.payload.length = msg.payload.size * 16;\n        break;\n    case \"string\":\n        msg.payload.length = msg.payload.size;\n        break;\n    case \"hex\":\n        msg.payload.length = msg.payload.size * 2;\n        break;\n    default:\n        msg.payload.length = undefined;\n        break;\n}\n\nmsg.payload.offsetbit = undefined;\nmsg.payload.mask = \"\";\nmsg.payload.scale = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"typeConversion\", \n    {\n        \"int16\": \"int16\",\n        \"int32\": \"int32\",\n        \"int64\": \"bigint64\",\n        \"raw16\": \"16bit\",\n        \"uint16\": \"uint16\",\n        \"uint32\": \"uint32\",\n        \"uint64\": \"biguint64\",\n        \"acc16\": \"uint16\",\n        \"acc32\": \"uint32\",\n        \"acc64\": \"biguint64\",\n        \"bitfield16\": \"binary\",\n        \"bitfield32\": \"binary\",\n        \"bitfield64\": \"binary\",\n        \"enum16\": \"uint16\",\n        \"enum32\": \"uint32\",\n        \"float32\": \"float\",\n        \"float64\": \"double\",\n        \"string\": \"string\",\n        \"sf\": \"int16\",\n        \"pad\": \"hex\",\n        \"ipaddr\": \"hex\",\n        \"ipv6addr\": \"hex\",\n        \"eui48\": \"hex\",\n        \"sunssf\": \"int16\",\n        \"count\": \"hex\"\n    }\n);",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 60,
        "wires": [
            [
                "5c6f790fb86827ca"
            ]
        ]
    },
    {
        "id": "5c6f790fb86827ca",
        "type": "join",
        "z": "826f2798ac97948c",
        "name": "Join Together",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1860,
        "y": 60,
        "wires": [
            [
                "9405978604099018"
            ]
        ]
    },
    {
        "id": "9405978604099018",
        "type": "change",
        "z": "826f2798ac97948c",
        "name": "Setup Parsing Specs",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "specs.items",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "specs.options",
                "pt": "msg",
                "to": "{\"resultType\": \"object\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 60,
        "wires": [
            [
                "08f42ce2b8e5ca7a"
            ]
        ]
    },
    {
        "id": "08f42ce2b8e5ca7a",
        "type": "buffer-parser",
        "z": "826f2798ac97948c",
        "name": "Parse Buffer",
        "data": "buffer",
        "dataType": "msg",
        "specification": "specs",
        "specificationType": "msg",
        "items": [
            {
                "type": "int16be",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 2290,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "543c0f2ecc46a615",
        "type": "change",
        "z": "826f2798ac97948c",
        "name": "Get Model from Env",
        "rules": [
            {
                "t": "set",
                "p": "model",
                "pt": "msg",
                "to": "ssmodel",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "fa659ccd904d4a48"
            ]
        ]
    },
    {
        "id": "45aaaa4ea40c6d3b",
        "type": "switch",
        "z": "60b9353837f41409",
        "name": "Check if HTTP Request",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "res",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "d070cd5d84a6c341"
            ],
            [
                "32bcea22be21f563"
            ]
        ]
    },
    {
        "id": "97e376d31f8e28b6",
        "type": "catch",
        "z": "60b9353837f41409",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "aab4782a08713728",
                "816acf4343e53f9e",
                "53cb936137689734"
            ]
        ]
    },
    {
        "id": "d070cd5d84a6c341",
        "type": "function",
        "z": "60b9353837f41409",
        "name": "Register Subscriber",
        "func": "\n// Get ready for connection closing\nconst callback = () => {\n\n    if (msg.res._res.finished) {\n        node.error(\"how was this possible\");\n        return;\n    }\n\n    node.log(`Client disconnected: ${msg._msgid}`);\n    msg.res._res.write('event: close\\n');\n    msg.res._res.write(`data: The connection was closed by the server.\\n`);\n    msg.res._res.write(`id: ${msg._msgid}\\n\\n`);\n    msg.res._res.end();\n\n    flow.set('subscribers', flow.get('subscribers').filter(sub => {\n        return sub.id !== msg._msgid;\n    }));\n\n    flow.get('updateStatus')('success');\n};\nlet test = msg.res._res.req.once('close', callback);\n\n// Track subscribers\nlet old = flow.get('subscribers');\nold.push({\n    id: msg._msgid,\n    socket: msg.res,\n    callback: callback\n});\nflow.set('subscribers', old);\n\n// Update status\nflow.get('updateStatus')('success');\n\n// HTTP response for SSE\n// Using an HTTP response node won't work\n// As it closes the connection seemingly\nmsg.res._res.writeHead(200, {\n    'Content-Type': 'text/event-stream',\n    'Cache-Control': 'no-cache',\n    Connection: 'keep-alive',\n});\nmsg.res._res.write(\n    'event: open\\n' +\n    `data: ${JSON.stringify(msg.payload || 'Connection opened')}\\n` +\n    `id: ${msg._msgid}\\n\\n`\n);\n\nnode.log(`Client connected: ${msg._msgid}`);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set('subscribers', []);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\n// Close all connections on re-deploy\nlet subs = flow.get('subscribers');\nfor (let i = 0; i < subs.length; i++) {\n\n    let sub = subs[i];\n    node.warn(`Forced client disconnect: ${sub.id}`);\n\n    sub.socket._res.req.removeListener('close', sub.callback);\n    sub.socket._res.write('event: close\\n');\n    sub.socket._res.write(`data: The connection was closed by the server.\\n`);\n    sub.socket._res.write(`id: ${sub.id}\\n\\n`);\n    sub.socket._res.end();\n\n}",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "53cb936137689734",
        "type": "function",
        "z": "60b9353837f41409",
        "name": "Update Status",
        "func": "\nflow.get('updateStatus')('fail');\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b20285b086be858",
        "type": "http response",
        "z": "60b9353837f41409",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ffcef4a76897296",
        "type": "function",
        "z": "60b9353837f41409",
        "name": "Update Status",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set('updateStatus', (type) => {\n    node.send({\n        status: {\n            fill: type === \"success\" ? 'green' : 'red',\n            shape: 'dot',\n            text: `${flow.get(\"subscribers\").length} client(s) connected`\n        }\n    });\n});",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "aab4782a08713728",
        "type": "function",
        "z": "60b9353837f41409",
        "name": "Log Error",
        "func": "\nnode.error(\"sse error\", msg.error);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "816acf4343e53f9e",
        "type": "switch",
        "z": "60b9353837f41409",
        "name": "Check if HTTP Request",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "res",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "6b20285b086be858"
            ]
        ]
    },
    {
        "id": "32bcea22be21f563",
        "type": "function",
        "z": "60b9353837f41409",
        "name": "Write Data",
        "func": "const event = `${env.get('event') || 'message'}`;\nconst data = `${JSON.stringify(env.get('data') || msg.payload)}`;\n\nnode.log(`Sending ${event} to ${flow.get('subscribers').length} subs`);\n\nflow.get('subscribers').forEach((sub) => {\n    sub.socket._res.write(`event: ${event}\\n`);\n    sub.socket._res.write(`data: ${data}\\n`);\n    sub.socket._res.write(`id: ${msg._msgid}\\n\\n`);\n});",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "19c730a6eabb37ef",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "fixed",
        "sql": "INSERT INTO Device (\n    Id, Name, Address, PowerType\n) Values (\n    1, \"Testwall WattNode\", \"http://100.113.203.142:1880/wattnode/status\", \"ac\"\n);",
        "name": "",
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "da6360578ab5087f",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{\"$id\":-1,\"$watts\":420}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "19c730a6eabb37ef"
            ]
        ]
    },
    {
        "id": "51af04274c5bb5b5",
        "type": "debug",
        "z": "060240745de70bc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6361a6c24c243d3d",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "d2848eee44bc6894"
            ]
        ]
    },
    {
        "id": "d2848eee44bc6894",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name;",
        "name": "Check Tables",
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ],
        "info": "CREATE TABLE PowerAC (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Volts FLOAT,\r\n    Amps FLOAT,\r\n    Watts FLOAT,\r\n    WattHours FLOAT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE PowerDC (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Volts FLOAT,\r\n    Amps FLOAT,\r\n    Watts FLOAT,\r\n    WattHours FLOAT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE Battery (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Voltage FLOAT,\r\n    SOC FLOAT,\r\n    Health FLOAT,\r\n    State TEXT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE Device (\r\n    Id INT,\r\n    Name TEXT,\r\n    Address TEXT,\r\n    PowerType TEXT,\r\n    PRIMARY KEY(Id)\r\n);"
    },
    {
        "id": "6be7e8ffc2b18fa2",
        "type": "comment",
        "z": "060240745de70bc6",
        "name": "Service Description",
        "info": "Describes the logging service (basically a REST API).\n\n## **Definitions:**\n`category`: A type of data, either:\n- `power`\n- `battery`\n\n`id`: A device identifier. Must be positive. -1 is reserved for testing.\n\n## **Interfaces:**\n### POST /log/record\nRecord data into the logs.  \nFormat: `/log/record/[category]/[id]`\n\n### GET /log/read\nRead data from the logs.  \nFormat: `/log/read/[category]/[id]`\n\n### GET /log/status\nGet the connection status of a device.  \nFormat: `/log/status/[id]`\n\n### POST /log/register\nRegister a device with an API endpoint.  \nFormat: `/log/register/[id]`\n\n### GET /log/registered\nCheck if a device is registered.  \nFormat: `/log/registered/[id]`",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "96f99957b5071c89",
        "type": "http in",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "POST /log/record",
        "url": "/log/record/:category/:id",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "36f3b8db5fa30706"
            ]
        ]
    },
    {
        "id": "476df1a222398ed7",
        "type": "http in",
        "z": "060240745de70bc6",
        "name": "GET /log/read",
        "url": "/log/read/:category/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "c17aeb6872cdad76"
            ]
        ],
        "info": "# POST /log/read\r\nRead device data from the log.\r\n\r\n### URL Format\r\nThe request URL must be in the following formats.\r\n- `/log/read/[category]/[id]` - `[category]` is\r\na logging category name and `[id]` is a registered\r\ndevice id\r\n\r\n### Request Parameters\r\n- `start` - the start date and time to get results after\r\n- `end` - the end date and time to get results before\r\n- `filter` - a list of item types to include such as `[watts,watthours]`\r\n- `interval` - the interval at which to retrieve data\r\n\r\n### Procedure\r\n1. Recieve request\r\n2. Check if category exists and device exists\r\n3. Verify device has data for the category\r\n4. \r\n\r\n### Responses\r\n- `404` - Unknown category\r\n- `404` - Unknown device id\r\n- `400` - Invalid category for device\r\n- `400` - Invalid values for category\r\n- `500` - Internal error when writing to SQL database\r\n- `200` - Success  \r\nThe body of the message will contain the timestamp of\r\nthe recorded data, the device id and the device name."
    },
    {
        "id": "dcf90db21725757d",
        "type": "http in",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "GET /log/status",
        "url": "/log/status/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "6c449fd564a9ecd2"
            ]
        ]
    },
    {
        "id": "4fdcdd1aaf2cc630",
        "type": "http in",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "POST /log/register",
        "url": "/log/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "3431e4fa78349449"
            ]
        ]
    },
    {
        "id": "7af68148ed617c49",
        "type": "http in",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "GET /log/info",
        "url": "/log/info/:id?",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 860,
        "wires": [
            [
                "085c4ad6a27bef27"
            ]
        ]
    },
    {
        "id": "50653faa4c685ac1",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "CREATE TABLE PowerDC (\n    Id INT,\n    Timestamp TEXT,\n    Volts FLOAT,\n    Amps FLOAT,\n    Watts FLOAT,\n    WattHours FLOAT,\n    PRIMARY KEY(Id, Timestamp)\n);",
        "name": "PowerDC",
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "09c1ece3762367c4",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "CREATE TABLE Battery (\n    Id INT,\n    Timestamp TEXT,\n    Voltage FLOAT,\n    SOC FLOAT,\n    Health FLOAT,\n    State TEXT,\n    PRIMARY KEY(Id, Timestamp)\n);",
        "name": "Battery",
        "x": 460,
        "y": 1300,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "89e5131385c10783",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "CREATE TABLE Device (\n    Id INT,\n    Name TEXT,\n    Address TEXT,\n    PowerType TEXT,\n    PRIMARY KEY(Id)\n);",
        "name": "Device",
        "x": 450,
        "y": 1340,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "51d0c0185995205b",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "CREATE TABLE PowerAC (\n    Id INT,\n    Timestamp TEXT,\n    Volts FLOAT,\n    Amps FLOAT,\n    Watts FLOAT,\n    WattHours FLOAT,\n    PRIMARY KEY(Id, Timestamp)\n);",
        "name": "PowerAC",
        "x": 460,
        "y": 1220,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "fca7083ebe0e8499",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1220,
        "wires": [
            [
                "50653faa4c685ac1",
                "09c1ece3762367c4",
                "89e5131385c10783",
                "51d0c0185995205b"
            ]
        ]
    },
    {
        "id": "144b8ea4e032c046",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "DELETE FROM PowerAC;",
        "name": "Change Things",
        "x": 480,
        "y": 1400,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "a5cb9904515322dd",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "144b8ea4e032c046"
            ]
        ]
    },
    {
        "id": "47d5ec2e29f4a75c",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Parse Id",
        "func": "msg.params = {\n    '$id': parseInt(msg.req.params.id)\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 860,
        "wires": [
            [
                "de7e2ba1bf229849"
            ]
        ]
    },
    {
        "id": "af2fdf8df365932d",
        "type": "http response",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1590,
        "y": 860,
        "wires": []
    },
    {
        "id": "085c4ad6a27bef27",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Have Id Param?",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 860,
        "wires": [
            [
                "514a5906c8c36ed5"
            ],
            [
                "f00f48fb83236220"
            ]
        ]
    },
    {
        "id": "f00f48fb83236220",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "mydb": "7426633e02a085fd",
        "sqlquery": "fixed",
        "sql": "SELECT Id FROM Device;",
        "name": "Get Device Ids",
        "x": 680,
        "y": 980,
        "wires": [
            [
                "1467fa61be5516c4"
            ]
        ]
    },
    {
        "id": "1467fa61be5516c4",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Wrap Id Array",
        "func": "let ret = [];\nfor (var obj of msg.payload) {\n    ret.push(obj.Id);\n}\nmsg.payload = {\n    \"ids\": ret\n};\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 980,
        "wires": [
            [
                "321214cff9ac19e7"
            ]
        ]
    },
    {
        "id": "514a5906c8c36ed5",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Id is Number?",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 860,
        "wires": [
            [
                "47d5ec2e29f4a75c"
            ],
            [
                "8a64b210bb419880"
            ]
        ]
    },
    {
        "id": "8a64b210bb419880",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "321214cff9ac19e7",
        "type": "http response",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 980,
        "wires": []
    },
    {
        "id": "de7e2ba1bf229849",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT Name, PowerType\nFROM Device\nWHERE Id=$id;",
        "name": "Get Device Info",
        "x": 1040,
        "y": 860,
        "wires": [
            [
                "e74a7937f9a8b10f"
            ]
        ]
    },
    {
        "id": "e74a7937f9a8b10f",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Device Exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1240,
        "y": 860,
        "wires": [
            [
                "9c0608e9f8a9a204"
            ],
            [
                "75b2f8d3b8dafc8f"
            ]
        ]
    },
    {
        "id": "9c0608e9f8a9a204",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "Wrap Result",
        "func": "msg.payload = msg.payload[0];\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 860,
        "wires": [
            [
                "af2fdf8df365932d"
            ]
        ]
    },
    {
        "id": "75b2f8d3b8dafc8f",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "e7875e2de9c03017",
        "name": "",
        "x": 1450,
        "y": 920,
        "wires": []
    },
    {
        "id": "6c449fd564a9ecd2",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Id is Number?",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "4fd4e576a66823ba"
            ],
            [
                "8943f005652f4bb1"
            ]
        ]
    },
    {
        "id": "8943f005652f4bb1",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "4fd4e576a66823ba",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Parse Id",
        "func": "msg.params = {\n    '$id': parseInt(msg.req.params.id)\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "653a20d09b8b8699"
            ]
        ]
    },
    {
        "id": "a7dcaa9b3e542b70",
        "type": "http request",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Request Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1520,
        "y": 440,
        "wires": [
            [
                "3a31511fa94e9129"
            ]
        ]
    },
    {
        "id": "ad0aa214fde7a3a9",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Format Request",
        "func": "msg.url = msg.payload[0].Address;\nmsg.deviceName = msg.payload[0].Name;\nmsg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 440,
        "wires": [
            [
                "a7dcaa9b3e542b70"
            ]
        ]
    },
    {
        "id": "653a20d09b8b8699",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT Name, Address\nFROM Device\nWHERE Id=$id;",
        "name": "Get Connection Address",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "0c01c1f85f9c26bc"
            ]
        ]
    },
    {
        "id": "89c0dfd5fcba393b",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{\"$id\":-1,\"$watts\":420}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "cc9e9b385bb1c2db"
            ]
        ]
    },
    {
        "id": "cc9e9b385bb1c2db",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "fixed",
        "sql": "UPDATE Device\nSET Address=\"http://localhost:1880/wattnode/status\"\nWHERE Id=1;",
        "name": "",
        "x": 470,
        "y": 1460,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "0c01c1f85f9c26bc",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Device Exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "ad0aa214fde7a3a9"
            ],
            [
                "ae7baee6b8c03746"
            ]
        ]
    },
    {
        "id": "ae7baee6b8c03746",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "",
        "x": 1330,
        "y": 500,
        "wires": []
    },
    {
        "id": "3a31511fa94e9129",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Check Status Code",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1730,
        "y": 440,
        "wires": [
            [
                "861c36e9da5cc731"
            ],
            [
                "986ab8e0bcd62ccf"
            ]
        ]
    },
    {
        "id": "986ab8e0bcd62ccf",
        "type": "subflow:c625d94296a71599",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Failed to get device status.",
                "type": "str"
            },
            {
                "name": "logmsg",
                "value": "Error with Device Status:",
                "type": "str"
            }
        ],
        "x": 1950,
        "y": 500,
        "wires": []
    },
    {
        "id": "861c36e9da5cc731",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "Check Response Format",
        "func": "// JSON parse failed\nif (typeof msg.payload === 'string') return [null, msg];\n\nif (!('status' in msg.payload)) return [null, msg];\n\nlet ret;\n\nswitch (msg.payload.status) {\n    case 'fail':\n    case 'connected':\n        ret = msg.payload.status;\n        break;\n    default:\n        return [null, msg];\n}\nmsg.payload = {\n    'device': msg.deviceName,\n    'status': ret\n};\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 440,
        "wires": [
            [
                "fafe070557d0a9c8"
            ],
            [
                "e438baf5e34ece62"
            ]
        ]
    },
    {
        "id": "e438baf5e34ece62",
        "type": "subflow:c625d94296a71599",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Device status response malformed.",
                "type": "str"
            },
            {
                "name": "logmsg",
                "value": "Error with Device Status:",
                "type": "str"
            }
        ],
        "x": 2210,
        "y": 500,
        "wires": []
    },
    {
        "id": "fafe070557d0a9c8",
        "type": "http response",
        "z": "060240745de70bc6",
        "g": "9a4c8c642f90b5f9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2170,
        "y": 440,
        "wires": []
    },
    {
        "id": "cf25a28af42ce908",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1520,
        "wires": [
            [
                "7c06c26b868ebfe6"
            ]
        ]
    },
    {
        "id": "3431e4fa78349449",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Validate Parameters",
        "func": "msg.insertParams = {};\n\nif (!('name' in msg.payload)) return [null, msg];\nmsg.insertParams[\"$name\"] = msg.payload.name;\n\nif (!('address' in msg.payload)) return [null, msg];\nmsg.insertParams[\"$address\"] = msg.payload.address;\nmsg.url = msg.payload.address;\n\nif (!('powertype' in msg.payload)) return [null, msg];\nswitch (msg.payload.powertype) {\n    case 'acdc':\n    case 'ac':\n    case 'dc':\n    case 'none':\n        msg.insertParams[\"$pt\"] = msg.payload.powertype;\n        break;\n    default:\n        return [null, msg];\n}\n\nmsg.payload = undefined;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "cebb5660f8fa4666"
            ],
            [
                "4ae0d4cced67a221"
            ]
        ]
    },
    {
        "id": "cebb5660f8fa4666",
        "type": "http request",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Request Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "e937f95755f0aea3"
            ]
        ]
    },
    {
        "id": "e937f95755f0aea3",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Check Status Code",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 620,
        "wires": [
            [
                "29a8b67e75c87ff3"
            ],
            [
                "bc223d5c956d8dac"
            ]
        ]
    },
    {
        "id": "29a8b67e75c87ff3",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Check Response Format",
        "func": "// JSON parse failed\nif (typeof msg.payload === 'string') return [null, msg];\n\nif (!('status' in msg.payload)) return [null, msg];\n\nswitch (msg.payload.status) {\n    case 'fail':\n    case 'connected':\n        break;\n    default:\n        return [null, msg];\n}\n\nmsg.payload = undefined;\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 620,
        "wires": [
            [
                "0b35f57da62bc11b"
            ],
            [
                "68bc76ec11fdafee"
            ]
        ]
    },
    {
        "id": "0b35f57da62bc11b",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Generate Id",
        "func": "// Generate random id\nif (msg.payload === undefined || msg.payload.length > 0) {\n    msg.params = {\n        '$id': Math.floor(Math.random() * 999)\n    };\n    return [null, msg];\n}\n\nmsg.params = {\n    ...msg.params,\n    ...msg.insertParams\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 620,
        "wires": [
            [
                "22e4d983d6f09553"
            ],
            [
                "299b7d608855aa7a"
            ]
        ]
    },
    {
        "id": "22e4d983d6f09553",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "INSERT INTO Device\n(Id, Name, Address, PowerType)\nVALUES\n($id, $name, $address, $pt);",
        "name": "Record Device",
        "x": 1620,
        "y": 620,
        "wires": [
            [
                "25f3a83e48519a95"
            ]
        ]
    },
    {
        "id": "a24736a631d53c6a",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT *\nFROM Device\nWHERE Id=$id;",
        "name": "Check Record",
        "x": 2000,
        "y": 620,
        "wires": [
            [
                "a493908c90418cda"
            ]
        ]
    },
    {
        "id": "a493908c90418cda",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Verify Recorded",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2200,
        "y": 620,
        "wires": [
            [
                "d006e5721410794e"
            ],
            [
                "388612334105d9ab"
            ]
        ]
    },
    {
        "id": "d006e5721410794e",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Wrap Response",
        "func": "msg.payload = {\n    'id': msg.payload[0].Id,\n    'name': msg.payload[0].Name,\n    'address': msg.payload[0].Address,\n    'powertype': msg.payload[0].PowerType\n};\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 620,
        "wires": [
            [
                "3141cf159d9fe3aa"
            ]
        ]
    },
    {
        "id": "3141cf159d9fe3aa",
        "type": "http response",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2570,
        "y": 620,
        "wires": []
    },
    {
        "id": "4ae0d4cced67a221",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Request body invalid.",
                "type": "str"
            }
        ],
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "bc223d5c956d8dac",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Device URL address failed to respond.",
                "type": "str"
            }
        ],
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "68bc76ec11fdafee",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Device status response malformed.",
                "type": "str"
            }
        ],
        "x": 1460,
        "y": 740,
        "wires": []
    },
    {
        "id": "388612334105d9ab",
        "type": "subflow:c625d94296a71599",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Failed to write to database.",
                "type": "str"
            },
            {
                "name": "logmsg",
                "value": "Error with SQL write:",
                "type": "str"
            }
        ],
        "x": 2420,
        "y": 680,
        "wires": []
    },
    {
        "id": "299b7d608855aa7a",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "mydb": "7426633e02a085fd",
        "sqlquery": "fixed",
        "sql": "SELECT 1\nFROM Device\nWHERE Id=$id;",
        "name": "Verify Unique Id",
        "x": 1440,
        "y": 680,
        "wires": [
            [
                "0b35f57da62bc11b"
            ]
        ]
    },
    {
        "id": "78dec1742ad8ab7c",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "fixed",
        "sql": "SELECT *\nFROM Device\nWHERE Id=336;",
        "name": "Check Record",
        "x": 480,
        "y": 1580,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ]
    },
    {
        "id": "4611f1f7dcacc646",
        "type": "inject",
        "z": "060240745de70bc6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "params",
                "v": "{\"$id\":14}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1580,
        "wires": [
            [
                "78dec1742ad8ab7c"
            ]
        ]
    },
    {
        "id": "7c06c26b868ebfe6",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT * FROM PowerAC LIMIT 200;",
        "name": "See All",
        "x": 460,
        "y": 1520,
        "wires": [
            [
                "51af04274c5bb5b5"
            ]
        ],
        "info": "CREATE TABLE PowerAC (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Volts FLOAT,\r\n    Amps FLOAT,\r\n    Watts FLOAT,\r\n    WattHours FLOAT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE PowerDC (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Volts FLOAT,\r\n    Amps FLOAT,\r\n    Watts FLOAT,\r\n    WattHours FLOAT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE Battery (\r\n    Id INT,\r\n    Timestamp TEXT,\r\n    Voltage FLOAT,\r\n    SOC FLOAT,\r\n    Health FLOAT,\r\n    State TEXT,\r\n    PRIMARY KEY(Id, Timestamp)\r\n);\r\nCREATE TABLE Device (\r\n    Id INT,\r\n    Name TEXT,\r\n    Address TEXT,\r\n    PowerType TEXT,\r\n    PRIMARY KEY(Id)\r\n);"
    },
    {
        "id": "25f3a83e48519a95",
        "type": "change",
        "z": "060240745de70bc6",
        "g": "f1ccc8bd2ac54d97",
        "name": "Set up Query",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "{'$id':msg.params.`$id`}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 620,
        "wires": [
            [
                "a24736a631d53c6a"
            ]
        ]
    },
    {
        "id": "a9e4fa5dd7c04fbd",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Parse Category",
        "func": "msg.log = {\n    'deviceName': msg.payload[0].Name\n};\n\nswitch (msg.req.params.category) {\n    case 'powerac':\n        msg.log.category = \"PowerAC\";\n        break;\n    case 'powerdc':\n        msg.log.category = \"PowerDC\";\n        break;\n    case 'battery':\n        msg.log.category = \"Battery\";\n        break;\n    default:\n        return [null, msg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 260,
        "wires": [
            [
                "3365ddb2fede8b56"
            ],
            [
                "8f860c08121896d9"
            ]
        ]
    },
    {
        "id": "4bfe5a943caf0bd3",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "b917ac3be5e883c7",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT Name, PowerType\nFROM Device\nWHERE Id=$id;",
        "name": "Get Device Name",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "723ef3bd1c68f81a"
            ]
        ]
    },
    {
        "id": "723ef3bd1c68f81a",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Device Exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "a9e4fa5dd7c04fbd"
            ],
            [
                "8f860c08121896d9"
            ]
        ]
    },
    {
        "id": "7ff4163166824f35",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Validate PowerAC",
        "func": "msg.valid = false;\nlet isISODate = flow.get('isISODate');\nlet isFloat = flow.get('isFloat');\n\n// Timestamp\nif (!isISODate(msg.req.body.timestamp)) {\n    return msg;\n} else {\n    msg.params.$timestamp = msg.req.body.timestamp;\n}\n\n// Volts\nif ('volts' in msg.req.body && !isFloat(msg.req.body.volts)) {\n    return msg;\n} else if ('volts' in msg.req.body) {\n    msg.params.$volts = parseFloat(msg.req.body.volts);\n    if (msg.params.$volts < 0) return msg;\n}\n\n// Amps\nif ('amps' in msg.req.body && !isFloat(msg.req.body.amps)) {\n    return msg;\n} else if ('amps' in msg.req.body) {\n    msg.params.$amps = parseFloat(msg.req.body.amps);\n}\n\n// Watts\nif ('watts' in msg.req.body && !isFloat(msg.req.body.watts)) {\n    return msg;\n} else if ('watts' in msg.req.body) {\n    msg.params.$watts = parseFloat(msg.req.body.watts);\n}\n\n// Watthours\nif ('watthours' in msg.req.body && !isFloat(msg.req.body.watthours)) {\n    return msg;\n} else if ('watthours' in msg.req.body) {\n    msg.params.$watthours = parseFloat(msg.req.body.watthours);\n}\n\n// Must include at least volts and amps or watts\nif (!((('$volts' in msg.params) && ('$amps' in msg.params)) || ('$watts' in msg.params))) {\n    return msg;\n}\n\n// Account for optional parameters\nif (!('$volts' in msg.params)) msg.params.$volts = 0;\nif (!('$amps' in msg.params)) msg.params.$amps = 0;\nif (!('$watts' in msg.params)) msg.params.$watts = 0;\nif (!('$watthours' in msg.params)) msg.params.$watthours = 0;\n\nmsg.valid = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n/**\n* @param {string} str\n*/\nfunction isISODate(str) {\n    if (!/\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.\\d{3}Z/.test(str)) return false;\n    const d = new Date(str);\n    return d instanceof Date && !isNaN(d.getTime()) && d.toISOString() === str; // valid date \n}\nflow.set('isISODate', isISODate);\n\n/**\n * \n */\nfunction isFloat(x) {\n    if (!isNaN(x)) return true;\n    if (/^\\-?[0-9]*\\.?[0-9]+$/.test(x)) return true;\n    return false;\n}\nflow.set('isFloat', isFloat);",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 260,
        "wires": [
            [
                "933f379216a90879"
            ]
        ]
    },
    {
        "id": "8f860c08121896d9",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "x": 1300,
        "y": 320,
        "wires": []
    },
    {
        "id": "3365ddb2fede8b56",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Validate Category",
        "func": "let ret = false;\nswitch (msg.payload[0].PowerType) {\n    case 'acdc':\n        ret = true;\n        break;\n    case 'ac':\n        ret = (msg.log.category === \"PowerAC\");\n        break;\n    case 'dc':\n        ret = (msg.log.category === \"PowerDC\");\n        break;\n    case 'none':\n        ret = (msg.log.category != \"PowerAC\" && msg.log.category != \"PowerDC\");\n        break;\n}\n\nif (!ret) return [null, msg];\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 260,
        "wires": [
            [
                "8190129e7c5f717a"
            ],
            [
                "fd9bc06971cb7d34"
            ]
        ]
    },
    {
        "id": "fd9bc06971cb7d34",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Category incompatible with device.",
                "type": "str"
            }
        ],
        "x": 1720,
        "y": 320,
        "wires": []
    },
    {
        "id": "6d1a2f27d0eabb46",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Invalid values for category.",
                "type": "str"
            }
        ],
        "x": 2380,
        "y": 320,
        "wires": []
    },
    {
        "id": "430f966847abe48c",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "mydb": "7426633e02a085fd",
        "sqlquery": "msg.topic",
        "sql": "SELECT *\nFROM $category\nWHERE Id=$id AND Timestamp=$timestamp;",
        "name": "Check Record",
        "x": 3140,
        "y": 260,
        "wires": [
            [
                "2322c598d49e45cd"
            ]
        ]
    },
    {
        "id": "18270af3f52bdf02",
        "type": "string",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Parse Id",
        "methods": [
            {
                "name": "toInteger",
                "params": []
            }
        ],
        "prop": "req.params.id",
        "propout": "params.$id",
        "object": "msg",
        "objectout": "msg",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "b917ac3be5e883c7"
            ]
        ]
    },
    {
        "id": "36f3b8db5fa30706",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Id is Number?",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "18270af3f52bdf02"
            ],
            [
                "4bfe5a943caf0bd3"
            ]
        ]
    },
    {
        "id": "8190129e7c5f717a",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Switch on Log Category",
        "property": "log.category",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PowerAC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PowerDC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Battery",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1730,
        "y": 260,
        "wires": [
            [
                "7ff4163166824f35"
            ],
            [
                "7ff4163166824f35"
            ],
            [
                "b5414f660bf6f02c"
            ]
        ]
    },
    {
        "id": "933f379216a90879",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Check Valid",
        "property": "valid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2170,
        "y": 260,
        "wires": [
            [
                "d7570cfbdd465a92"
            ],
            [
                "6d1a2f27d0eabb46"
            ]
        ]
    },
    {
        "id": "b5414f660bf6f02c",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Validate Battery",
        "func": "msg.valid = false;\nlet isISODate = flow.get('isISODate');\nlet isFloat = flow.get('isFloat');\n\n// Timestamp\nif (!isISODate(msg.req.body.timestamp)) {\n    return msg;\n} else {\n    msg.params.$timestamp = msg.req.body.timestamp;\n}\n\n// Voltage\nif (!isFloat(msg.req.body.voltage)) {\n    return msg;\n} else {\n    msg.params.$voltage = parseFloat(msg.req.body.voltage);\n    if (msg.params.$voltage < 0) return msg;\n}\n\n// SOC\nif ('soc' in msg.req.body && !isFloat(msg.req.body.soc)) {\n    return msg;\n} else if ('soc' in msg.req.body) {\n    msg.params.$soc = parseFloat(msg.req.body.soc);\n    if (msg.params.$soc < 0 || msg.params.$soc > 1) return msg;\n}\n\n// Health\nif ('health' in msg.req.body && !isFloat(msg.req.body.health)) {\n    return msg;\n} else if ('health' in msg.req.body) {\n    msg.params.$health = parseFloat(msg.req.body.health);\n    if (msg.params.$health < 0 || msg.params.$health > 1) return msg;\n}\n\n// State\nswitch (msg.req.body.state) {\n    case 'standby':\n    case 'idle':\n    case 'charging':\n    case 'discharging':\n        msg.params.$state = msg.req.body.state;\n        break;\n    default:\n        return msg;\n}\n\n// Account for optional parameters\nif (!('$soc' in msg.params)) msg.params.$soc = 0;\nif (!('$health' in msg.params)) msg.params.$health = 0;\n\nmsg.valid = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 320,
        "wires": [
            [
                "933f379216a90879"
            ]
        ]
    },
    {
        "id": "d7570cfbdd465a92",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Table Information",
        "func": "switch (msg.log.category) {\n    case 'PowerAC':\n        msg.log.cols = [\"Id\", \"Timestamp\", \"Volts\", \"Amps\", \"Watts\", \"Watthours\"];\n        msg.log.values = [\"$id\", \"$timestamp\", \"$volts\", \"$amps\", \"$watts\", \"$watthours\"];\n        break;\n    case 'PowerDC':\n        msg.log.cols = [\"Id\", \"Timestamp\", \"Volts\", \"Amps\", \"Watts\", \"Watthours\"];\n        msg.log.values = [\"$id\", \"$timestamp\", \"$volts\", \"$amps\", \"$watts\", \"$watthours\"];\n        break;\n    case 'Battery':\n        msg.log.cols = [\"Id\", \"Timestamp\", \"Voltage\", \"SOC\", \"Health\", \"State\"];\n        msg.log.values = [\"$id\", \"$timestamp\", \"$voltage\", \"$soc\", \"$health\", \"$state\"];\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 260,
        "wires": [
            [
                "91f4422cae6d79f5"
            ]
        ]
    },
    {
        "id": "89070e322dc5035d",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "mydb": "7426633e02a085fd",
        "sqlquery": "msg.topic",
        "sql": "INSERT INTO PowerAC\n(Id, Timestamp, Volts, Amps, Watts, Watthours)\nValues\n($id, $timestamp, $volts, $amps, $watts, $watthours);",
        "name": "Record Values",
        "x": 2760,
        "y": 260,
        "wires": [
            [
                "c7c4cbe8daa21e8a"
            ]
        ]
    },
    {
        "id": "c7c4cbe8daa21e8a",
        "type": "change",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Set up Query",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$join(['SELECT * FROM', msg.log.category, 'WHERE Id=$id AND Timestamp=$timestamp;'], ' ')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(msg.log.values[[0..1]], function($v) {$lookup(msg.params, $v)})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2950,
        "y": 260,
        "wires": [
            [
                "430f966847abe48c"
            ]
        ]
    },
    {
        "id": "91f4422cae6d79f5",
        "type": "change",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Set up Query",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$join(\t    ['INSERT INTO ',\t    msg.log.category,\t    ' (',\t    $join(msg.log.cols, ', '),\t    ') VALUES (',\t    $join(msg.log.values, ', '),\t    ');'],\t    '')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(msg.log.values, function($v) {$lookup(msg.params, $v)})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 260,
        "wires": [
            [
                "89070e322dc5035d"
            ]
        ]
    },
    {
        "id": "34a2aa1c6dc52269",
        "type": "function",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Wrap Response",
        "func": "msg.payload = {\n    'id': msg.payload[0].Id,\n    'name': msg.log.deviceName,\n    'timestamp': msg.payload[0].Timestamp\n};\nmsg.statusCode = 201;\nmsg.headers = undefined;\nmsg.cookies = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3540,
        "y": 260,
        "wires": [
            [
                "6c49b36440883348"
            ]
        ]
    },
    {
        "id": "2322c598d49e45cd",
        "type": "switch",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "Verify Recorded",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3340,
        "y": 260,
        "wires": [
            [
                "34a2aa1c6dc52269"
            ],
            [
                "392a19925a0c9b2a"
            ]
        ]
    },
    {
        "id": "392a19925a0c9b2a",
        "type": "subflow:c625d94296a71599",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Failed to write to database.",
                "type": "str"
            },
            {
                "name": "logmsg",
                "value": "Error with SQL write:",
                "type": "str"
            }
        ],
        "x": 3560,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c49b36440883348",
        "type": "http response",
        "z": "060240745de70bc6",
        "g": "9f9ce2cd5a2131c3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 3710,
        "y": 260,
        "wires": []
    },
    {
        "id": "c17aeb6872cdad76",
        "type": "switch",
        "z": "060240745de70bc6",
        "name": "Id is Number?",
        "property": "req.params.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "e25dda72874ecf22"
            ],
            [
                "e347e72e26d1e067"
            ]
        ]
    },
    {
        "id": "e25dda72874ecf22",
        "type": "string",
        "z": "060240745de70bc6",
        "name": "Parse Id",
        "methods": [
            {
                "name": "toInteger",
                "params": []
            }
        ],
        "prop": "req.params.id",
        "propout": "params.$id",
        "object": "msg",
        "objectout": "msg",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "a14e486152d011a5"
            ]
        ]
    },
    {
        "id": "a14e486152d011a5",
        "type": "sqlite",
        "z": "060240745de70bc6",
        "mydb": "7426633e02a085fd",
        "sqlquery": "prepared",
        "sql": "SELECT Name, PowerType\nFROM Device\nWHERE Id=$id;",
        "name": "Get Device Name",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "fb7271faba7a1ab1"
            ]
        ]
    },
    {
        "id": "fb7271faba7a1ab1",
        "type": "switch",
        "z": "060240745de70bc6",
        "name": "Device Exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "102792648e59dd9a"
            ],
            [
                "adf353c229c8485a"
            ]
        ]
    },
    {
        "id": "adf353c229c8485a",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "name": "",
        "x": 1280,
        "y": 180,
        "wires": []
    },
    {
        "id": "102792648e59dd9a",
        "type": "function",
        "z": "060240745de70bc6",
        "name": "Parse Category",
        "func": "msg.log = {\n    'deviceName': msg.payload[0].Name\n};\n\nswitch (msg.req.params.category) {\n    case 'powerac':\n        msg.log.category = \"PowerAC\";\n        break;\n    case 'powerdc':\n        msg.log.category = \"PowerDC\";\n        break;\n    case 'battery':\n        msg.log.category = \"Battery\";\n        break;\n    default:\n        return [null, msg];\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "406cbf783c7d914a"
            ],
            [
                "adf353c229c8485a"
            ]
        ]
    },
    {
        "id": "406cbf783c7d914a",
        "type": "function",
        "z": "060240745de70bc6",
        "name": "Validate Category",
        "func": "let ret = false;\nswitch (msg.payload[0].PowerType) {\n    case 'acdc':\n        ret = true;\n        break;\n    case 'ac':\n        ret = (msg.log.category === \"PowerAC\");\n        break;\n    case 'dc':\n        ret = (msg.log.category === \"PowerDC\");\n        break;\n    case 'none':\n        ret = (msg.log.category != \"PowerAC\" && msg.log.category != \"PowerDC\");\n        break;\n}\n\nif (!ret) return [null, msg];\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 120,
        "wires": [
            [],
            [
                "98bee7a27186b16f"
            ]
        ]
    },
    {
        "id": "98bee7a27186b16f",
        "type": "subflow:2dcb06cda48677d7",
        "z": "060240745de70bc6",
        "name": "",
        "env": [
            {
                "name": "errormsg",
                "value": "Category incompatible with device.",
                "type": "str"
            }
        ],
        "x": 1700,
        "y": 180,
        "wires": []
    },
    {
        "id": "e347e72e26d1e067",
        "type": "subflow:ca2cbf00c7f20f50",
        "z": "060240745de70bc6",
        "name": "",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "04b92fcc79bf902a",
        "type": "batch",
        "z": "060240745de70bc6",
        "name": "",
        "mode": "concat",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 1930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "04e2ac4c67f5e2d9",
        "type": "modbus-getter",
        "z": "bb83c536da590f5c",
        "name": "Read WattNode",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "40000",
        "quantity": "2",
        "server": "ff919ca25c0fe87f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 580,
        "y": 400,
        "wires": [
            [],
            [
                "d024e323660bd109"
            ]
        ]
    },
    {
        "id": "80685ee48c0c301d",
        "type": "debug",
        "z": "bb83c536da590f5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "e54c9a7b326d5526",
        "type": "http in",
        "z": "bb83c536da590f5c",
        "name": "GET /wattnode/status",
        "url": "/wattnode/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "04e2ac4c67f5e2d9",
                "d024e323660bd109"
            ]
        ]
    },
    {
        "id": "456bfc4ce3a5af36",
        "type": "function",
        "z": "bb83c536da590f5c",
        "name": "Validation",
        "func": "\nlet status = \"fail\";\n\nif (msg.values?.length === 2) {\n\n    let ssid = msg.values.map(x => x.toString(16)).join('');\n\n    // SunSpec identifier\n    if (ssid.toUpperCase() === \"53756E53\") {\n\n        status = \"connected\";\n\n    }\n\n}\n\nmsg.payload = { \"status\": status };\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            [
                "80685ee48c0c301d",
                "4c01648c25d3353c"
            ]
        ]
    },
    {
        "id": "4c01648c25d3353c",
        "type": "http response",
        "z": "bb83c536da590f5c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 440,
        "wires": []
    },
    {
        "id": "d024e323660bd109",
        "type": "join",
        "z": "bb83c536da590f5c",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "456bfc4ce3a5af36"
            ]
        ]
    },
    {
        "id": "e68300e3f6f03b17",
        "type": "modbus-getter",
        "z": "bb83c536da590f5c",
        "name": "Read WattNode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": false,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "40179",
        "quantity": "124",
        "server": "ff919ca25c0fe87f",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 300,
        "wires": [
            [],
            [
                "910801dfc4992c39",
                "4b3d8426b6787a32"
            ]
        ]
    },
    {
        "id": "8286b3587d985566",
        "type": "debug",
        "z": "bb83c536da590f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "6e633daaf68a2e6d",
        "type": "inject",
        "z": "bb83c536da590f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "e68300e3f6f03b17"
            ]
        ]
    },
    {
        "id": "910801dfc4992c39",
        "type": "change",
        "z": "bb83c536da590f5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "buffer",
                "pt": "msg",
                "to": "payload.buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "6a07ef0b8e5513f5"
            ]
        ]
    },
    {
        "id": "6a07ef0b8e5513f5",
        "type": "subflow:826f2798ac97948c",
        "z": "bb83c536da590f5c",
        "name": "Parse Model 213",
        "env": [
            {
                "name": "ssmodel",
                "value": "{     \"group\": {         \"label\": \"wye-connect three phase (abcn) meter\",         \"name\": \"ac_meter\",         \"points\": [             {                 \"desc\": \"Model identifier\",                 \"label\": \"Model ID\",                 \"mandatory\": \"M\",                 \"name\": \"ID\",                 \"size\": 1,                 \"static\": \"S\",                 \"type\": \"uint16\",                 \"value\": 213             },             {                 \"desc\": \"Model length\",                 \"label\": \"Model Length\",                 \"mandatory\": \"M\",                 \"name\": \"L\",                 \"size\": 1,                 \"static\": \"S\",                 \"type\": \"uint16\"             },             {                 \"desc\": \"Total AC Current\",                 \"label\": \"Amps\",                 \"mandatory\": \"M\",                 \"name\": \"A\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"A\"             },             {                 \"desc\": \"Phase A Current\",                 \"label\": \"Amps PhaseA\",                 \"mandatory\": \"M\",                 \"name\": \"AphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"A\"             },             {                 \"desc\": \"Phase B Current\",                 \"label\": \"Amps PhaseB\",                 \"mandatory\": \"M\",                 \"name\": \"AphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"A\"             },             {                 \"desc\": \"Phase C Current\",                 \"label\": \"Amps PhaseC\",                 \"mandatory\": \"M\",                 \"name\": \"AphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"A\"             },             {                 \"desc\": \"Line to Neutral AC Voltage (average of active phases)\",                 \"label\": \"Voltage LN\",                 \"mandatory\": \"M\",                 \"name\": \"PhV\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage AN\",                 \"label\": \"Phase Voltage AN\",                 \"mandatory\": \"M\",                 \"name\": \"PhVphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage BN\",                 \"label\": \"Phase Voltage BN\",                 \"mandatory\": \"M\",                 \"name\": \"PhVphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage CN\",                 \"label\": \"Phase Voltage CN\",                 \"mandatory\": \"M\",                 \"name\": \"PhVphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Line to Line AC Voltage (average of active phases)\",                 \"label\": \"Voltage LL\",                 \"mandatory\": \"M\",                 \"name\": \"PPV\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage AB\",                 \"label\": \"Phase Voltage AB\",                 \"mandatory\": \"M\",                 \"name\": \"PPVphAB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage BC\",                 \"label\": \"Phase Voltage BC\",                 \"mandatory\": \"M\",                 \"name\": \"PPVphBC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Phase Voltage CA\",                 \"label\": \"Phase Voltage CA\",                 \"mandatory\": \"M\",                 \"name\": \"PPVphCA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"V\"             },             {                 \"desc\": \"Frequency\",                 \"label\": \"Hz\",                 \"mandatory\": \"M\",                 \"name\": \"Hz\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Hz\"             },             {                 \"desc\": \"Total Real Power\",                 \"label\": \"Watts\",                 \"mandatory\": \"M\",                 \"name\": \"W\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"W\"             },             {                 \"label\": \"Watts phase A\",                 \"name\": \"WphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"W\"             },             {                 \"label\": \"Watts phase B\",                 \"name\": \"WphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"W\"             },             {                 \"label\": \"Watts phase C\",                 \"name\": \"WphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"W\"             },             {                 \"desc\": \"AC Apparent Power\",                 \"label\": \"VA\",                 \"name\": \"VA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VA\"             },             {                 \"label\": \"VA phase A\",                 \"name\": \"VAphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VA\"             },             {                 \"label\": \"VA phase B\",                 \"name\": \"VAphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VA\"             },             {                 \"label\": \"VA phase C\",                 \"name\": \"VAphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VA\"             },             {                 \"desc\": \"Reactive Power\",                 \"label\": \"VAR\",                 \"name\": \"VAR\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"var\"             },             {                 \"label\": \"VAR phase A\",                 \"name\": \"VARphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"var\"             },             {                 \"label\": \"VAR phase B\",                 \"name\": \"VARphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"var\"             },             {                 \"label\": \"VAR phase C\",                 \"name\": \"VARphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"var\"             },             {                 \"desc\": \"Power Factor\",                 \"label\": \"PF\",                 \"name\": \"PF\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"PF\"             },             {                 \"label\": \"PF phase A\",                 \"name\": \"PFphA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"PF\"             },             {                 \"label\": \"PF phase B\",                 \"name\": \"PFphB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"PF\"             },             {                 \"label\": \"PF phase C\",                 \"name\": \"PFphC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"PF\"             },             {                 \"desc\": \"Total Real Energy Exported\",                 \"label\": \"Total Watt-hours Exported\",                 \"mandatory\": \"M\",                 \"name\": \"TotWhExp\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Exported phase A\",                 \"name\": \"TotWhExpPhA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Exported phase B\",                 \"name\": \"TotWhExpPhB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Exported phase C\",                 \"name\": \"TotWhExpPhC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"desc\": \"Total Real Energy Imported\",                 \"label\": \"Total Watt-hours Imported\",                 \"mandatory\": \"M\",                 \"name\": \"TotWhImp\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Imported phase A\",                 \"name\": \"TotWhImpPhA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Imported phase B\",                 \"name\": \"TotWhImpPhB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"label\": \"Total Watt-hours Imported phase C\",                 \"name\": \"TotWhImpPhC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"Wh\"             },             {                 \"desc\": \"Total Apparent Energy Exported\",                 \"label\": \"Total VA-hours Exported\",                 \"name\": \"TotVAhExp\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Exported phase A\",                 \"name\": \"TotVAhExpPhA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Exported phase B\",                 \"name\": \"TotVAhExpPhB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Exported phase C\",                 \"name\": \"TotVAhExpPhC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"desc\": \"Total Apparent Energy Imported\",                 \"label\": \"Total VA-hours Imported\",                 \"name\": \"TotVAhImp\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Imported phase A\",                 \"name\": \"TotVAhImpPhA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Imported phase B\",                 \"name\": \"TotVAhImpPhB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"label\": \"Total VA-hours Imported phase C\",                 \"name\": \"TotVAhImpPhC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"VAh\"             },             {                 \"desc\": \"Total Reactive Energy Imported Quadrant 1\",                 \"label\": \"Total VAR-hours Imported Q1\",                 \"name\": \"TotVArhImpQ1\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q1 phase A\",                 \"name\": \"TotVArhImpQ1phA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q1 phase B\",                 \"name\": \"TotVArhImpQ1phB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q1 phase C\",                 \"name\": \"TotVArhImpQ1phC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"desc\": \"Total Reactive Power Imported Quadrant 2\",                 \"label\": \"Total VAr-hours Imported Q2\",                 \"name\": \"TotVArhImpQ2\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q2 phase A\",                 \"name\": \"TotVArhImpQ2phA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q2 phase B\",                 \"name\": \"TotVArhImpQ2phB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Imported Q2 phase C\",                 \"name\": \"TotVArhImpQ2phC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"desc\": \"Total Reactive Power Exported Quadrant 3\",                 \"label\": \"Total VAr-hours Exported Q3\",                 \"name\": \"TotVArhExpQ3\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q3 phase A\",                 \"name\": \"TotVArhExpQ3phA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q3 phase B\",                 \"name\": \"TotVArhExpQ3phB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q3 phase C\",                 \"name\": \"TotVArhExpQ3phC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"desc\": \"Total Reactive Power Exported Quadrant 4\",                 \"label\": \"Total VAr-hours Exported Q4\",                 \"name\": \"TotVArhExpQ4\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q4 Imported phase A\",                 \"name\": \"TotVArhExpQ4phA\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q4 Imported phase B\",                 \"name\": \"TotVArhExpQ4phB\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"label\": \"Total VAr-hours Exported Q4 Imported phase C\",                 \"name\": \"TotVArhExpQ4phC\",                 \"size\": 2,                 \"type\": \"float32\",                 \"units\": \"varh\"             },             {                 \"desc\": \"Meter Event Flags\",                 \"label\": \"Events\",                 \"mandatory\": \"M\",                 \"name\": \"Evt\",                 \"size\": 2,                 \"symbols\": [                     {                         \"name\": \"M_EVENT_Power_Failure\",                         \"value\": 2                     },                     {                         \"name\": \"M_EVENT_Under_Voltage\",                         \"value\": 3                     },                     {                         \"name\": \"M_EVENT_Low_PF\",                         \"value\": 4                     },                     {                         \"name\": \"M_EVENT_Over_Current\",                         \"value\": 5                     },                     {                         \"name\": \"M_EVENT_Over_Voltage\",                         \"value\": 6                     },                     {                         \"name\": \"M_EVENT_Missing_Sensor\",                         \"value\": 7                     },                     {                         \"name\": \"M_EVENT_Reserved1\",                         \"value\": 8                     },                     {                         \"name\": \"M_EVENT_Reserved2\",                         \"value\": 9                     },                     {                         \"name\": \"M_EVENT_Reserved3\",                         \"value\": 10                     },                     {                         \"name\": \"M_EVENT_Reserved4\",                         \"value\": 11                     },                     {                         \"name\": \"M_EVENT_Reserved5\",                         \"value\": 12                     },                     {                         \"name\": \"M_EVENT_Reserved6\",                         \"value\": 13                     },                     {                         \"name\": \"M_EVENT_Reserved7\",                         \"value\": 14                     },                     {                         \"name\": \"M_EVENT_Reserved8\",                         \"value\": 15                     },                     {                         \"name\": \"M_EVENT_OEM01\",                         \"value\": 16                     },                     {                         \"name\": \"M_EVENT_OEM02\",                         \"value\": 17                     },                     {                         \"name\": \"M_EVENT_OEM03\",                         \"value\": 18                     },                     {                         \"name\": \"M_EVENT_OEM04\",                         \"value\": 19                     },                     {                         \"name\": \"M_EVENT_OEM05\",                         \"value\": 20                     },                     {                         \"name\": \"M_EVENT_OEM06\",                         \"value\": 21                     },                     {                         \"name\": \"M_EVENT_OEM07\",                         \"value\": 22                     },                     {                         \"name\": \"M_EVENT_OEM08\",                         \"value\": 23                     },                     {                         \"name\": \"M_EVENT_OEM09\",                         \"value\": 24                     },                     {                         \"name\": \"M_EVENT_OEM10\",                         \"value\": 25                     },                     {                         \"name\": \"M_EVENT_OEM11\",                         \"value\": 26                     },                     {                         \"name\": \"M_EVENT_OEM12\",                         \"value\": 27                     },                     {                         \"name\": \"M_EVENT_OEM13\",                         \"value\": 28                     },                     {                         \"name\": \"M_EVENT_OEM14\",                         \"value\": 29                     },                     {                         \"name\": \"M_EVENT_OEM15\",                         \"value\": 30                     }                 ],                 \"type\": \"bitfield32\"             }         ],         \"type\": \"group\"     },     \"id\": 213 }",
                "type": "str"
            }
        ],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "8286b3587d985566"
            ]
        ]
    },
    {
        "id": "4b3d8426b6787a32",
        "type": "debug",
        "z": "bb83c536da590f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "ecb8d3cdc562a609",
        "type": "debug",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "0facc22de6274825",
        "type": "http in",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "GET /inverter/status",
        "url": "/inverter/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3619a5aeca928cd2",
                "ee354f4e98b669a7"
            ]
        ]
    },
    {
        "id": "fa54962a7e0f8069",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "Validation",
        "func": "\nlet status = \"fail\";\n\nif (msg.values?.length === 2) {\n\n    let ssid = msg.values.map(x => x.toString(16)).join('');\n\n    // SunSpec identifier\n    if (ssid.toUpperCase() === \"53756E53\") {\n\n        status = \"connected\";\n\n    }\n\n}\n\nmsg.payload = { \"status\": status };\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "ecb8d3cdc562a609",
                "f79824953eef4fc6"
            ]
        ]
    },
    {
        "id": "f79824953eef4fc6",
        "type": "http response",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "3619a5aeca928cd2",
        "type": "modbus-getter",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "Read Inverter",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "40000",
        "quantity": "2",
        "server": "fb44781298367a59",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 360,
        "y": 160,
        "wires": [
            [],
            [
                "ee354f4e98b669a7"
            ]
        ]
    },
    {
        "id": "ee354f4e98b669a7",
        "type": "join",
        "z": "e5680ec93718b3f6",
        "g": "06e9bdefebec18b3",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "fa54962a7e0f8069"
            ]
        ]
    },
    {
        "id": "194adb635f9b1c11",
        "type": "http in",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "GET /inverter/status/details",
        "url": "/inverter/status/details",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "79a457a7c046625e",
                "f1865b16d068e488",
                "efea16944386fe65"
            ]
        ]
    },
    {
        "id": "f1865b16d068e488",
        "type": "modbus-getter",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Read Status",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "40252",
        "quantity": "2",
        "server": "fb44781298367a59",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 390,
        "y": 400,
        "wires": [
            [],
            [
                "f1a98c8e98819aad"
            ]
        ]
    },
    {
        "id": "79a457a7c046625e",
        "type": "modbus-getter",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Read Mode",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "40241",
        "quantity": "1",
        "server": "fb44781298367a59",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 390,
        "y": 340,
        "wires": [
            [],
            [
                "862dba68ffcab69a"
            ]
        ]
    },
    {
        "id": "c78d10d9207b6273",
        "type": "buffer-parser",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "mode",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "inverterStatus",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "chargerStatus",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": true,
        "setTopic": false,
        "outputs": 3,
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "9c8f9570df4d8eae"
            ],
            [
                "3ef0649182b0b463"
            ],
            [
                "2c25dc453d994771"
            ]
        ]
    },
    {
        "id": "2d223f6874c2ebd9",
        "type": "join",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "mode": "auto",
        "build": "buffer",
        "property": "payload.buffer",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "c78d10d9207b6273"
            ]
        ]
    },
    {
        "id": "862dba68ffcab69a",
        "type": "change",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Index = 0",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "b0229cb481613388"
            ]
        ]
    },
    {
        "id": "f1a98c8e98819aad",
        "type": "change",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Index = 1",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 400,
        "wires": [
            [
                "b0229cb481613388"
            ]
        ]
    },
    {
        "id": "b0229cb481613388",
        "type": "change",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.type",
                "pt": "msg",
                "to": "buffer",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "parts.ch",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "parts.key",
                "pt": "msg",
                "to": "buffer",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "lmao",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "2d223f6874c2ebd9"
            ]
        ]
    },
    {
        "id": "9c8f9570df4d8eae",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Parse Mode",
        "func": "switch (msg.payload) {\n    case 2:\n        msg.payload = \"Standby\";\n        break;\n    case 3:\n        msg.payload = \"Operating\";\n        break;\n    default:\n        msg.payload = \"???\";\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 340,
        "wires": [
            [
                "0c344cccf8263101"
            ]
        ]
    },
    {
        "id": "3ef0649182b0b463",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Parse Inverter Status",
        "func": "switch (msg.payload) {\n    case 1024:\n        msg.payload = \"Invert\";\n        break;\n    case 1025:\n        msg.payload = \"AC Pass Through\";\n        break;\n    case 1026:\n        msg.payload = \"APS Only\";\n        break;\n    case 1027:\n        msg.payload = \"Load Sense\";\n        break;\n    case 1028:\n        msg.payload = \"Inverter Disabled\";\n        break;\n    case 1029:\n        msg.payload = \"Load Sense Ready\";\n        break;\n    case 1030:\n        msg.payload = \"Engaging Inverter\";\n        break;\n    case 1031:\n        msg.payload = \"Invert Fault\";\n        break;\n    case 1032:\n        msg.payload = \"Inverter Standby\";\n        break;\n    case 1033:\n        msg.payload = \"Grid-Tied\";\n        break;\n    case 1034:\n        msg.payload = \"Grid Support\";\n        break;\n    case 1035:\n        msg.payload = \"Gen Support\";\n        break;\n    case 1036:\n        msg.payload = \"Sell-to-Grid\";\n        break;\n    case 1037:\n        msg.payload = \"Load Shaving\";\n        break;\n    case 1038:\n        msg.payload = \"Grid Frequency Stabilization\";\n        break;\n    case 1039:\n        msg.payload = \"AC Coupling\";\n        break;\n    case 1040:\n        msg.payload = \"Reverse Ibatt\";\n        break;\n    default:\n        msg.payload = \"???\";\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 400,
        "wires": [
            [
                "0c344cccf8263101"
            ]
        ]
    },
    {
        "id": "2c25dc453d994771",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Parse Charger Status",
        "func": "switch (msg.payload) {\n    case 768:\n        msg.payload = \"Not Charging\";\n        break;\n    case 769:\n        msg.payload = \"Bulk\";\n        break;\n    case 770:\n        msg.payload = \"Absorption\";\n        break;\n    case 771:\n        msg.payload = \"Overcharge\";\n        break;\n    case 772:\n        msg.payload = \"Equalize\";\n        break;\n    case 773:\n        msg.payload = \"Float\";\n        break;\n    case 774:\n        msg.payload = \"No Float\";\n        break;\n    case 775:\n        msg.payload = \"Constant VI\";\n        break;\n    case 776:\n        msg.payload = \"Charger Disabled\";\n        break;\n    case 777:\n        msg.payload = \"Qualifying AC\";\n        break;\n    case 778:\n        msg.payload = \"Qualifying APS\";\n        break;\n    case 779:\n        msg.payload = \"Engaging Charger\";\n        break;\n    case 780:\n        msg.payload = \"Charge Fault\";\n        break;\n    case 781:\n        msg.payload = \"Charger Suspend\";\n        break;\n    case 782:\n        msg.payload = \"AC Good\";\n        break;\n    case 783:\n        msg.payload = \"APS Good\";\n        break;\n    case 784:\n        msg.payload = \"AC Fault\";\n        break;\n    case 785:\n        msg.payload = \"Charge\";\n        break;\n    case 786:\n        msg.payload = \"Absorption Exit Pending\";\n        break;\n    case 787:\n        msg.payload = \"Ground Fault\";\n        break;\n    case 788:\n        msg.payload = \"AC Good Pending\";\n        break;\n    default:\n        msg.payload = \"???\";\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 460,
        "wires": [
            [
                "0c344cccf8263101"
            ]
        ]
    },
    {
        "id": "0c344cccf8263101",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "Add Names",
        "func": "let ret = {};\nret[msg.specification.name] = msg.payload;\nmsg.payload = ret;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 340,
        "wires": [
            [
                "bd2b19c13d701435"
            ]
        ]
    },
    {
        "id": "bd2b19c13d701435",
        "type": "join",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1650,
        "y": 340,
        "wires": [
            [
                "efea16944386fe65"
            ]
        ]
    },
    {
        "id": "efea16944386fe65",
        "type": "join",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1790,
        "y": 280,
        "wires": [
            [
                "34eb321b97e8d73e"
            ]
        ]
    },
    {
        "id": "34eb321b97e8d73e",
        "type": "http response",
        "z": "e5680ec93718b3f6",
        "g": "af38d5b5994866d9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1940,
        "y": 280,
        "wires": []
    },
    {
        "id": "542f167d0496b6c2",
        "type": "modbus-flex-write",
        "z": "e5680ec93718b3f6",
        "name": "Write to Inverter",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "server": "916070376faeaa7d",
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1180,
        "y": 620,
        "wires": [
            [],
            [
                "a732b92ddfeb4c49"
            ]
        ]
    },
    {
        "id": "9e631e5c3816b7e5",
        "type": "split",
        "z": "e5680ec93718b3f6",
        "name": "Split Writes",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 620,
        "wires": [
            [
                "542f167d0496b6c2"
            ]
        ]
    },
    {
        "id": "f884a51d535f564d",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "name": "Set Discharge",
        "func": "\nlet millivolts = 48000;\n\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 1\n    },\n    {\n        'fc': 16,\n        'quantity': 2,\n        'address': 378,\n        'value': [millivolts >> 16, millivolts & 0xFFFF]\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 511,\n        'value': 50\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 620,
        "wires": [
            [
                "9e631e5c3816b7e5"
            ]
        ]
    },
    {
        "id": "a732b92ddfeb4c49",
        "type": "join",
        "z": "e5680ec93718b3f6",
        "name": "Join Writes",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "a641070d89f9eba6"
            ]
        ]
    },
    {
        "id": "0c5c1f026a01beb0",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "name": "Set Charge",
        "func": "\nlet millivolts = 55000;\n\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 1\n    },\n    {\n        'fc': 16,\n        'quantity': 2,\n        'address': 378,\n        'value': [millivolts >> 16, millivolts & 0xFFFF]\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 367,\n        'value': 80\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 680,
        "wires": [
            [
                "9e631e5c3816b7e5"
            ]
        ]
    },
    {
        "id": "1e8b15b7d011aaab",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "name": "Set Inactive",
        "func": "\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 0\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 740,
        "wires": [
            [
                "9e631e5c3816b7e5"
            ]
        ]
    },
    {
        "id": "7473d2b5b06e4067",
        "type": "switch",
        "z": "e5680ec93718b3f6",
        "name": "Determine Operation",
        "property": "payload.operation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "f884a51d535f564d"
            ],
            [
                "0c5c1f026a01beb0"
            ],
            [
                "1e8b15b7d011aaab"
            ]
        ]
    },
    {
        "id": "0c0b0f5bd13873d3",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "name": "Save Message",
        "func": "msg._msg = { ...msg};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "7473d2b5b06e4067"
            ]
        ]
    },
    {
        "id": "a641070d89f9eba6",
        "type": "function",
        "z": "e5680ec93718b3f6",
        "name": "Restore Message",
        "func": "if (msg.payload.length > 0) {\n    msg._msg.operationSuccess = true;\n}\nreturn msg._msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 620,
        "wires": [
            [
                "f243622e36fb36f3"
            ]
        ]
    },
    {
        "id": "d8d2d6861ff942e7",
        "type": "link in",
        "z": "e5680ec93718b3f6",
        "name": "Change Inverter Mode",
        "links": [],
        "x": 140,
        "y": 620,
        "wires": [
            [
                "0c0b0f5bd13873d3"
            ]
        ],
        "l": true
    },
    {
        "id": "f243622e36fb36f3",
        "type": "link out",
        "z": "e5680ec93718b3f6",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1715,
        "y": 620,
        "wires": []
    },
    {
        "id": "7c79e4b5289b6e35",
        "type": "link call",
        "z": "e5680ec93718b3f6",
        "name": "",
        "links": [
            "d8d2d6861ff942e7"
        ],
        "timeout": "15",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "f9110e5112dc1b6e"
            ]
        ]
    },
    {
        "id": "9a63c22b4986730c",
        "type": "inject",
        "z": "e5680ec93718b3f6",
        "name": "Inactive Mode",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"inactive\"}",
        "payloadType": "json",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "7c79e4b5289b6e35"
            ]
        ]
    },
    {
        "id": "f9110e5112dc1b6e",
        "type": "debug",
        "z": "e5680ec93718b3f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "9230620450a69ad5",
        "type": "inject",
        "z": "e5680ec93718b3f6",
        "name": "Charge Mode",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"charge\"}",
        "payloadType": "json",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "7c79e4b5289b6e35"
            ]
        ]
    },
    {
        "id": "9e0b258abb323b43",
        "type": "inject",
        "z": "e5680ec93718b3f6",
        "name": "Discharge Mode",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"operation\":\"discharge\"}",
        "payloadType": "json",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "7c79e4b5289b6e35"
            ]
        ]
    },
    {
        "id": "3e6dcc26d1c288bf",
        "type": "exec",
        "z": "b1d7e9e0a4578c1f",
        "command": "/data/changeled /dev/revpi 3 off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "01cb31bee0b0da87",
        "type": "exec",
        "z": "b1d7e9e0a4578c1f",
        "command": "/data/changeled /dev/revpi 3 green",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a67d0a99fc4bcbe5",
        "type": "function",
        "z": "b1d7e9e0a4578c1f",
        "name": "Toggle",
        "func": "\nmsg.payload = !context.get(\"led\");\ncontext.set(\"led\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"led\", false);",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "4e945812ba3f633d"
            ]
        ]
    },
    {
        "id": "4e945812ba3f633d",
        "type": "switch",
        "z": "b1d7e9e0a4578c1f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3e6dcc26d1c288bf"
            ],
            [
                "01cb31bee0b0da87"
            ]
        ]
    },
    {
        "id": "d7f9cf4fabab8cb8",
        "type": "exec",
        "z": "b1d7e9e0a4578c1f",
        "command": "/data/changeled /dev/revpi 3 off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c3adf05dfae12efd",
        "type": "exec",
        "z": "b1d7e9e0a4578c1f",
        "command": "/data/changeled /dev/revpi 2 off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 710,
        "y": 340,
        "wires": [
            [],
            [],
            [
                "d7f9cf4fabab8cb8"
            ]
        ]
    },
    {
        "id": "0e6448e5be10c3fa",
        "type": "exec",
        "z": "b1d7e9e0a4578c1f",
        "command": "/data/changeled /dev/revpi 1 off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 340,
        "wires": [
            [],
            [],
            [
                "c3adf05dfae12efd"
            ]
        ]
    },
    {
        "id": "76d50beea3080dca",
        "type": "inject",
        "z": "b1d7e9e0a4578c1f",
        "name": "All off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "0e6448e5be10c3fa"
            ]
        ]
    },
    {
        "id": "22622d788359fff1",
        "type": "http in",
        "z": "2dc6fe71588e17c7",
        "name": "GET /history/status",
        "url": "/history/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "9da9c475ca294313"
            ]
        ]
    },
    {
        "id": "9da9c475ca294313",
        "type": "function",
        "z": "2dc6fe71588e17c7",
        "name": "Validation",
        "func": "msg.payload = { \"status\": 'connected' };\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "1122500b80d983de"
            ]
        ]
    },
    {
        "id": "1122500b80d983de",
        "type": "http response",
        "z": "2dc6fe71588e17c7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "7589dfcff1387d67",
        "type": "modbus-flex-write",
        "z": "05b90c81d8e90a14",
        "name": "Write to Inverter",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "server": "916070376faeaa7d",
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1580,
        "y": 380,
        "wires": [
            [],
            [
                "ae8b1efbd33230a2"
            ]
        ]
    },
    {
        "id": "d48c02c6892c62f0",
        "type": "split",
        "z": "05b90c81d8e90a14",
        "name": "Split Writes",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "7589dfcff1387d67"
            ]
        ]
    },
    {
        "id": "a9ed739e434c7084",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "Set Discharge",
        "func": "\nlet millivolts = 48000;\n\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 1\n    },\n    {\n        'fc': 16,\n        'quantity': 2,\n        'address': 378,\n        'value': [millivolts >> 16, millivolts & 0xFFFF]\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 511,\n        'value': 50\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 380,
        "wires": [
            [
                "d48c02c6892c62f0"
            ]
        ]
    },
    {
        "id": "ae8b1efbd33230a2",
        "type": "join",
        "z": "05b90c81d8e90a14",
        "name": "Join Writes",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1770,
        "y": 380,
        "wires": [
            [
                "848acb8ecd747583"
            ]
        ]
    },
    {
        "id": "ac58a035cd0b1361",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "Set Charge",
        "func": "\nlet millivolts = 55000;\n\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 1\n    },\n    {\n        'fc': 16,\n        'quantity': 2,\n        'address': 378,\n        'value': [millivolts >> 16, millivolts & 0xFFFF]\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 367,\n        'value': 80\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "d48c02c6892c62f0"
            ]
        ]
    },
    {
        "id": "15d0b4b4ecd4a5a6",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "Set Inactive",
        "func": "\nmsg.payload = [\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 354,\n        'value': 0\n    },\n    {\n        'fc': 6,\n        'quantity': 1,\n        'address': 356,\n        'value': 0\n    },\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "d48c02c6892c62f0"
            ]
        ]
    },
    {
        "id": "9d1c7dfeb98f4eba",
        "type": "http in",
        "z": "05b90c81d8e90a14",
        "name": "",
        "url": "/api/operation",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "168e27817342d651"
            ]
        ]
    },
    {
        "id": "875dd790f3c8619e",
        "type": "http response",
        "z": "05b90c81d8e90a14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a270a53c945ce68",
        "type": "http in",
        "z": "05b90c81d8e90a14",
        "name": "",
        "url": "/api/connections",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "2929da3915cff06a"
            ]
        ]
    },
    {
        "id": "2929da3915cff06a",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "",
        "func": "msg.payload = [\n    { 'name': 'dev1', 'status': 'connected' },\n    { 'name': 'dev2', 'status': 'disconnected' },\n    { 'name': 'dev3', 'status': 'error' }\n];\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "875dd790f3c8619e"
            ]
        ]
    },
    {
        "id": "ea18ccd043397733",
        "type": "http in",
        "z": "05b90c81d8e90a14",
        "name": "",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "269f9a47b48b9c09"
            ]
        ]
    },
    {
        "id": "269f9a47b48b9c09",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "",
        "func": "msg.payload = {\n    'operation': 'discharge',\n    'voltage': [48, 53.1, 55],\n    'soc': 0.74,\n    'capacity': [18.6, 20],\n    'temperature': [40, 68, 100],\n    'ac': [3.3, 6],\n    'dc': [4.1, 6.3],\n    'pct': 0.65\n};\nmsg.statusCode = 200;\nmsg.headers = undefined;\nmsg.cookies = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "96f229e2b0d82d3e"
            ]
        ]
    },
    {
        "id": "bcb8945e32584c07",
        "type": "switch",
        "z": "05b90c81d8e90a14",
        "name": "Determine Operation",
        "property": "payload.operation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "discharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 980,
        "y": 380,
        "wires": [
            [
                "a9ed739e434c7084"
            ],
            [
                "ac58a035cd0b1361"
            ],
            [
                "15d0b4b4ecd4a5a6"
            ]
        ]
    },
    {
        "id": "cea7bf18364ed0e8",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "Check Request",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "f7947477c274e063"
            ]
        ]
    },
    {
        "id": "f7947477c274e063",
        "type": "switch",
        "z": "05b90c81d8e90a14",
        "name": "Schedule Delay",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "bcb8945e32584c07"
            ],
            []
        ]
    },
    {
        "id": "38e47d2972d7779e",
        "type": "http response",
        "z": "05b90c81d8e90a14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2130,
        "y": 380,
        "wires": []
    },
    {
        "id": "848acb8ecd747583",
        "type": "function",
        "z": "05b90c81d8e90a14",
        "name": "Wrap Response",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 380,
        "wires": [
            [
                "38e47d2972d7779e"
            ]
        ]
    },
    {
        "id": "3936edc3ec40d849",
        "type": "catch",
        "z": "05b90c81d8e90a14",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "be059150e0851137"
            ]
        ]
    },
    {
        "id": "be059150e0851137",
        "type": "subflow:c625d94296a71599",
        "z": "05b90c81d8e90a14",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "96f229e2b0d82d3e",
        "type": "http response",
        "z": "05b90c81d8e90a14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "31c3803fb860b9f2",
        "type": "comment",
        "z": "05b90c81d8e90a14",
        "name": "API Description",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "168e27817342d651",
        "type": "switch",
        "z": "05b90c81d8e90a14",
        "name": "Check Password",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "cea7bf18364ed0e8"
            ],
            []
        ]
    },
    {
        "id": "8da89b63c0e385b0",
        "type": "http in",
        "z": "05b90c81d8e90a14",
        "name": "",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "c9547452372cf41c"
            ]
        ]
    },
    {
        "id": "c9547452372cf41c",
        "type": "subflow:60b9353837f41409",
        "z": "05b90c81d8e90a14",
        "name": "",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "31b1248996a0d606",
        "type": "inject",
        "z": "05b90c81d8e90a14",
        "name": "Send message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "c9547452372cf41c"
            ]
        ]
    },
    {
        "id": "29aa4af90d6b4d9e",
        "type": "http in",
        "z": "05b90c81d8e90a14",
        "name": "",
        "url": "/api/testsse",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "0e15da506d76b993"
            ]
        ]
    },
    {
        "id": "0e15da506d76b993",
        "type": "template",
        "z": "05b90c81d8e90a14",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n\n<head>\n    <script>\n\n        addEventListener(\"load\", (event) => {\n\n            if (typeof(EventSource) === \"undefined\") {\n                document.innerHTML = \"<h1>Server-sent events not supported!</h1>\";\n                return;\n            }\n\n            window.urlInput = document.getElementById(\"url\");\n            window.connectButton = document.getElementById(\"connect\");\n            window.disconnectButton = document.getElementById(\"disconnect\");\n            window.clearButton = document.getElementById(\"clear\");\n            window.eventList = document.getElementById(\"list\");\n            window.lastState = -1;\n\n            connectButton.onclick = () => connectSSE(urlInput.value);\n            disconnectButton.onclick = disconnectSSE;\n            clearButton.onclick = clearText;\n        });\n\n\n        function connectSSE (url) {\n            window.evtSource = new EventSource(url, {withCredentials: false,});\n            updateState();\n\n            window.stateInterval = setInterval(updateState, 1000);\n\n            evtSource.onmessage = onMessage;\n            evtSource.addEventListener('close', onClose);\n        }\n\n        function disconnectSSE () {\n            clearInterval(stateInterval);\n            evtSource.close();\n            evtSource.onmessage = undefined;\n            evtSource.removeEventListener('close', onClose);\n            evtSource = undefined;\n            onClose();\n            updateState();\n        }\n\n        function updateState () {\n            urlInput.disabled = Boolean(evtSource);\n            connect.disabled = Boolean(evtSource);\n            disconnect.disabled = !Boolean(evtSource);\n\n            if (!evtSource || evtSource.readyState === lastState) return;\n            lastState = evtSource.readyState;\n            \n            switch (lastState) {\n                case EventSource.CONNECTING:\n                    listText(\"CONNECTING\");\n                    break;\n                case EventSource.OPEN:\n                    listText(\"OPEN\");\n                    break;\n                case EventSource.CLOSED:\n                    listText(\"CLOSED\");\n                    break;\n            }\n        }\n\n        function onMessage (evt) {\n            listText(`message: ${event.data}`);\n        }\n\n        function onClose (evt) {\n            listText(\"CLOSED\");\n            window.lastState = EventSource.CLOSED;\n        }\n\n        function listText (txt) {\n            const newElement = document.createElement(\"li\");\n            newElement.textContent = txt;\n            eventList.appendChild(newElement);\n            clearButton.disabled = false;\n        }\n\n        function clearText () {\n            eventList.innerHTML = \"\";\n            clearButton.disabled = true;\n        }\n\n    </script>\n</head>\n\n<body>\n    <label for=\"url\">SSE URL:</label>\n    <input type=\"text\" id=\"url\" value=\"/api/data\">\n    <button id=\"connect\">Connect</button>\n    <button id=\"disconnect\" disabled>Disconnect</button>\n    <button id=\"clear\" disabled>Clear</button>\n    <ul id=\"list\"></ul>\n</body>\n\n</html>",
        "output": "str",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "13b3ee0cd2e84e8a"
            ]
        ]
    },
    {
        "id": "13b3ee0cd2e84e8a",
        "type": "http response",
        "z": "05b90c81d8e90a14",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c523af552715ba5",
        "type": "buffer-parser",
        "z": "7fde02a3dbacda26",
        "name": "",
        "data": "payload.buffer",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "ProtocolVersion",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "MaximumChargeVoltage",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "MinimumDischargeVoltage",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "MaximumChargeCurrent",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "MinimumDischargeCurrent",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "BatteryVoltage",
                "offset": 18,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int32be",
                "name": "BatteryCurrent",
                "offset": 22,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "Temperature",
                "offset": 26,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "SOC",
                "offset": 28,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "Commands",
                "offset": 30,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "Warnings",
                "offset": 32,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "Faults",
                "offset": 34,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "State",
                "offset": 36,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "CycleCount",
                "offset": 38,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "SOH",
                "offset": 40,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "CapacityFullCharge",
                "offset": 42,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "BMSCellMaxTemperatureC",
                "offset": 44,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "BMSCellMinTemperatureC",
                "offset": 46,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "CellMaxVolt",
                "offset": 48,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "CellMinVolt",
                "offset": 50,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "LifetimeChargeEnergy",
                "offset": 52,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "LifetimeDischargeEnergy",
                "offset": 56,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "BatteryManufacturerID",
                "offset": 60,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "BatteryModelID",
                "offset": 62,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber1",
                "offset": 64,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber2",
                "offset": 66,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber3",
                "offset": 68,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber4",
                "offset": 70,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber5",
                "offset": 72,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber6",
                "offset": 74,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber7",
                "offset": 76,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber8",
                "offset": 78,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber9",
                "offset": 80,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "SerialNumber10",
                "offset": 82,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "UniqueID",
                "offset": 84,
                "length": 6,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "f16d45ba125cee90"
            ]
        ]
    },
    {
        "id": "165da4096b3f0483",
        "type": "function",
        "z": "7fde02a3dbacda26",
        "name": "BMS",
        "func": "msg.payload = { \n    'fc': 4, \n    'unitid': 20, \n    'address': 0,\n    'quantity': 45\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "935612bb6d9d9bd9"
            ]
        ]
    },
    {
        "id": "935612bb6d9d9bd9",
        "type": "modbus-flex-getter",
        "z": "7fde02a3dbacda26",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "0bf62b5a82a31810",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 550,
        "y": 160,
        "wires": [
            [],
            [
                "1c523af552715ba5"
            ]
        ]
    },
    {
        "id": "f16d45ba125cee90",
        "type": "function",
        "z": "7fde02a3dbacda26",
        "name": "BMSCalculation",
        "func": "var BMS = msg.payload\nvar payload = {}\npayload['BMSAccountEnergy'] = parseFloat((((BMS['SOH']/100) * (BMS['SOC']/100) * BMS['CapacityFullCharge'] * 51.2) / 1000).toFixed(2))\npayload['BMSAccountPower'] = parseFloat((BMS['BatteryVoltage'] * BMS['BatteryCurrent'] / 1000).toFixed(2))\npayload['BMSTemperatureF'] = parseFloat(((((BMS['Temperature']) * 9) / 5) + 32).toFixed(2))\npayload['BMSCellMaxTemperatureF'] = parseFloat(((((BMS['BMSCellMaxTemperatureC']) * 9) / 5) + 32).toFixed(2))\npayload['BMSCellMinTemperatureF'] = parseFloat(((((BMS['BMSCellMinTemperatureC']) * 9) / 5) + 32).toFixed(2))\nvar data = Object.assign({}, BMS, payload)\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    }
]